@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body {
  background: #333450;
  color:#999;
  font-family:Roboto;
  overflow: hidden;
}

h1{
  font-weight:100;
  font-size:27pt;
  color:rgb(252, 151, 0);
}

p{font-weight:300;
  color:rgb(252, 151, 0);
}

a{color:rgb(252, 151, 0);
}

.warning-content {
	position:absolute;
  top:25%;
  width:100%;
  height:300px;
  text-align:center;
  margin:0;
  
  
}