@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

#body {
    font-family: Arial, Helvetica, sans-serif;
}

#top {
text-align: center;
}
/*Logo*/
#logo {
    color:rgb(0, 183, 255);
    background-color: blue;
     display: inline-block;
     font-size: 32px;
     font-weight: bold;
     padding: 8px;
     margin-top: 16px;
}

#logo-name {font-size: 32px;
font-weight: bold;
margin: 16px;

}
/*Logo Ende*/

/*navigation*/
#navigation a {
    color: gray;
    padding: 8px;
}
#navigation a:hover {
    color: rgb(0, 183, 255);
}
/*navigation Ende*/

#image img {
    margin-top: 16px;
    margin-bottom: 16px;
}

#Main {
    max-width: 800px;
    margin: auto;
}

#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}

.background-dark {
    background-color: #262626;
}

.font {
    color: rgb(0, 183, 255);
}

.blue_ {
    color: #002eff;
}

.responive-video {
    max-width: 300;
    height: auto;
}
.blue {color: rgb(132, 132, 241);}


/*Raninbow*/
.raninbow {
    font-size: 42px;
    font-family: cursive;
    text-align: center;
    padding: auto;
    -webkit-animation: anirain 20s linear infinite alternate;
}

@keyframes anirain {
    0% {color: #00ffb9;}
    10% {color: #00b9ff;}
    20% {color: #002eff;}
    30% {color: #00ffb9;}
    40% {color: #00b9ff;}
    50% {color: #002eff;}
    60% {color: #00ffb9;}
    70% {color: #00b9ff;}
    80% {color: #002eff;}
    90% {color: #00ffb9;}
    100% {color: #00b9ff;}
}
/*Raninbow*/